<a href="/article/<%= id %>" class="text-decoration-none text-reset">
    <div class="m-3 ps-3 pe-3 card border border-dark rounded-1 border-opacity-25">
      <div class="p-2 card-body">
        <h5><%= title %></h5>
        <p><%= body %></p>
      </div>
    </div>
</a>