<div class="">
  <div class="">
    <%- include('./partials/header', {title: "The Daily Blog"})%>
  </div>
  <div class="me-5 ms-5 d-flex justify-content-end">
    <a href="/new-article" class="text-decoration-none text-reset">
      <button type="button" class="btn border-0 p-0 shadow-none" id="publish-button">
        <img src="/svg/icons8-plus.svg" alt="Button icon" aria-hidden="true">
      </button>
    </a>
  </div>
  <div class="">
    <ul class="list-group">
      <% articles.forEach((data) => {%>
        <% if (data.status === 'Publish') {%>
          <li class="list-group-item border-0">
            <%- include('./partials/article_cards', {id: data.id, title: data.title, body: data.paragraph}) %>
          </li>
        <%}%>
      <%})%>
    </ul>
  </div>
</div>